@import "~bootstrap/dist/css/bootstrap.min.css";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: green;
}

.card {
  width: 18rem;
  border-radius: 20px;
}

.heart,
.diamond {
  color: red;
}

.suit {
  font-size: 80px;
}

.card-number {
  font-size: 90px;
  display: flex;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  justify-content: center;
}

.bottom-right-suit {
  display: flex;
  transform: rotate(180deg);
  margin: auto;
}

.top-left-suit {
  display: flex;
  justify-content: flex-start;
  margin: auto;
}
